<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zobrazení časů</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Časy příjezdů pro zastávku: {{ current_stop }}</h1>
    
    <h3>Časy příjezdů:</h3>
    <ul>
        {% for time in current_times %}
            <li>{{ time }}</li>
        {% endfor %}
    </ul>

    <h2>Odpočet příjezdu:</h2>
    <p id="countdown">{{ next_arrival }}</p>

    <script>
        function updateCountdown() {
            fetch('/get_next_arrival')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('countdown').innerText = data.next_arrival;
                });
        }
    
        // Aktualizace každých 10 sekund
        setInterval(updateCountdown, 10000);
    </script>
</body>
</html>
